.mat-card {
  min-height: 250px;

  .mat-card-header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
    img {
      position: absolute;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background: var(--base-bg);
      border: 1px solid var(--base-divider);
    }
  }
  small {
    font-size: 10px;
    font-weight: bold;
  }
}
