<ng-container *ngIf="podcastNews$ | async as podcasts">
  <button mat-button class="error-btn" (click)="error()">Error</button>

  <mat-tab-group>
    <mat-tab label="News" matRipple>
      <ng-container *ngTemplateOutlet="list; context: { $implicit: podcasts }"> </ng-container>
    </mat-tab>

    <mat-tab label="Other">
      <ng-container *ngTemplateOutlet="list; context: { $implicit: podcastOther$ | async }"> </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #list let-casts>
  <div class="card-container margin-bottom">
    <mat-card *ngFor="let podcast of casts">
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="podcast.imageUrl"
          [alt]="podcast.name"
          onerror="this.onerror=null; this.src='./assets/images/no-image.jpg'"
        />

        <mat-card-title>{{ podcast.name }}</mat-card-title>
        <mat-card-subtitle>{{ podcast.authorName }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ strip(podcast.description) }}</p>
      </mat-card-content>

      <span class="spacer"></span>
      <mat-card-actions>
        <button mat-stroked-button [routerLink]="podcast.uuid">View</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
