<mat-progress-bar class="page-progress" *ngIf="!(podcastNews$ | async)" mode="indeterminate"> </mat-progress-bar>

<ng-container *ngIf="podcastNews$ | async as podcasts">
  <base-header title="Podcasts" class="margin-top"></base-header>

  <mat-tab-group>
    <mat-tab label="News" matRipple>
      <ng-container *ngTemplateOutlet="list; context: { $implicit: podcasts }"> </ng-container>
    </mat-tab>

    <mat-tab label="Other">
      <ng-container *ngTemplateOutlet="list; context: { $implicit: podcastOther$ | async }"> </ng-container>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-template #list let-casts>
  <div fxLayout="row wrap" fxLayoutAlign="space-between" class="card-container">
    <mat-card
      *ngFor="let podcast of casts"
      fxLayout="column"
      fxFlex.gt-xs="0 1 calc(50% - 8px)"
      fxFlex.gt-sm="0 1 calc(33% - 8px)"
      fxFlex.gt-md="0 1 calc(25% - 8px)"
      class="margin-bottom"
    >
      <mat-card-header>
        <img
          mat-card-avatar
          [src]="podcast.imageUrl"
          [alt]="podcast.name"
          onerror="this.onerror=null; this.src='./assets/images/no-image.jpg'"
        />

        <mat-card-title>{{ podcast.name }}</mat-card-title>
        <mat-card-subtitle>{{ podcast.authorName }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>{{ strip(podcast.description) }}</p>
      </mat-card-content>

      <span fxFlex="1 0 auto"></span>
      <mat-card-actions>
        <button mat-stroked-button [routerLink]="podcast.uuid">View</button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
