<h2 mat-dialog-title>Add/Edit Podcast</h2>

<mat-dialog-content class="mat-typography">
  <mat-form-field class="full">
    <mat-label>Name</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Author</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Image url</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Description</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Website</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="full">
    <mat-label>Select</mat-label>
    <mat-select placeholder="Category">
      <mat-option *ngFor="let item of categories" [value]="item"> {{ item }} </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Update/add</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
