<mat-toolbar>
  <button mat-icon-button *ngIf="small" (click)="sidenav.toggle()">
    <mat-icon>{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  .
  <span class="spacer"></span>
  <button mat-icon-button (click)="add()"><mat-icon>add</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <div class="margin-horizontal" *ngIf="user$ | async as user">
    {{ user.first_name }}
    <strong>{{ user.last_name }}</strong>
    <br />
    <small class="text-upper">{{ user.job_title }}</small>
  </div>
</mat-menu>
